.mb-15{
	margin-bottom: 15px;
}
hr{
	border: 0px;
}
.ajax-loader{
	background-image: url('../loading-icon.svg');
	position: fixed;
	background-color: #fff;
	opacity: 0.8;
	height: 100%;
	width: 100%;
	top: 0px;
    left: 0px;
	background-repeat: no-repeat;
    background-position: center;
}
#insert_canvas, #select {
	max-width: 130px;
    display: inline-block;
    margin-right: 15px;
    vertical-align: top;
}

.canvasbox{
	/* border: 1px solid #000; 
    box-shadow: 0px 0px 1px rgba(0,0,0,1)*/
	display: block;
    float: left;
}